<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Reset your Password</h2>
  <p> Please enter your email address to request for a new password reset</p>
  <div>
<ion-item>
  <ion-input 
  type= "email" 
  class="form control"
  placeholder="Email address" 
  #passwordResetEmail  
  required>
  </ion-input>
</ion-item>
  </div>
  <div>
    <ion-item>
      <ion-input
      type="submit"
      value="Reset Password"
      (click)="authService.ForgotPassword(passwordResetEmail.value">

      </ion-input>
    </ion-item>
  </div>
  <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/login">Log In</span></span>
      </div>
</ion-content>
