<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input type= "text" placeholder="Enter your First Name"
            formControlName="firstname"
            required>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="text" placeholder="Enter your Last Name"
            formControlName="lastname"
            required>
            </ion-input>
          </ion-col>
        </ion-row>
        <div formGroupName ="address">
          <ion-row>
            <ion-col>
                <ion-input type="text" placeholder="Enter your Apartment Number and Street"
                formControlName="street"
                required>
                </ion-input>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input type="text" placeholder="Enter your City"
                formControlName="city"
                required>
                </ion-input>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input type="text" placeholder="Enter your province" 
                formControlName="state"
                required>
                </ion-input>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="text" placeholder="Enter your postal code" 
            formControlName="zip"
            required></ion-input>
          </ion-col>
        </ion-row>
        <ion-col>
            <ion-row>
                <ion-col>
                    <ion-input type="text" placeholder="Enter your country"formControlName="country" required>
                    </ion-input>
                  </ion-col>
            </ion-row>
        </div>
          <ion-button size="large" color="primary" [disabled]="!profileForm.valid">Submit</ion-button>
        </ion-col>
        <ion-col>
            <ion-button size="large" color="warning">Cancel</ion-button>
          </ion-col>
      </ion-grid>
      </form>
</ion-content>
