<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="registerForm"> -->
    <div class= "formGroup">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" class="formControl" placeholder="Email Address" #userEmail required></ion-input>
      </ion-item>
    
    </div>
    <div class= "formGroup">
      <ion-item>
         <ion-label>password</ion-label>
        <ion-input type="password" class="formControl" placeholder="Password" #userPassword required></ion-input>
      </ion-item>
    </div>
    <div class= "formGroup">
        <ion-button type="submit" (click)="authService.GoogleAuth()">Sign Up With <ion-icon name="logo-google"></ion-icon></ion-button>
    </div>
    <div class='formGroup '>
       <ion-button full type="submit" (click)="authService.SignUp(userEmail.value, userPassword.value)">Sign Up</ion-button>
    </div>
       
        <div>
            <span>Already have an account? <span class="redirect" routerLink="/login">Log In</span></span>
        </div>

      <!-- <ion-item>
          <ion-label
          position="floating"
          color="primary">
          First Name
          </ion-label>
          <ion-input
          type="text"
          class="form-control"
          formControlName="firstname"
          placeholder="Enter your first name"
          required>
      
          </ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.firstname">
              <div class="error-message" *ngIf="registerForm.get('firstname') && (registerForm.get('firstname').dirty || registerForm.get('firstname').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        <ion-item>
            <ion-label
            position="floating"
            color="primary">
            Last Name
            </ion-label>
            <ion-input
            type="text"
            class="form-control"
            formControlName="lastname"
            placeholder="Enter your last name"
            required>
      
            </ion-input>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.lastname">
                  <div class="error-message" *ngIf="registerForm.get('lastname')&& (registerForm.get('lastname').dirty || registerForm.get('lastname').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
          </ion-item>
          <div formGroupName="confirm_email">
              <ion-item>
                  <ion-label
                  position="floating"
                  color="primary">Email
                  </ion-label>
                  <ion-input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="example@johndoe.com"
                    required>
                    </ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                          <div class="error-message" *ngIf="registerForm.get('email')&& (registerForm.get('email').dirty || registerForm.get('email').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                </ion-item>
                <ion-item>
                    <ion-label
                    position="floating"
                    color="primary">Confirm Email
                    </ion-label>
                    <ion-input
                      type="email"
                      class="form-control"
                      formControlName="confirmemail"
                      placeholder="example@johndoe.com"
                      required>
                      </ion-input>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.confirmemail">
                            <div class="error-message" *ngIf="registerForm.get('confirmemail')&& (registerForm.get('confirmemail').dirty || registerForm.get('confirmemail').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>
                
                  </ion-item>
          </div>
          
            <ion-item>
                <ion-label
                position="floating"
                color="primary">
                  City
                </ion-label>
                <ion-input 
                class="form-control"
                formControlName="city"
                placeholder="Enter your city"
                required
                >
                </ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.city">
                      <div class="error-message" *ngIf="registerForm.get('city')&& (registerForm.get('city').dirty || registerForm.get('city').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
              </ion-item>
                      <ion-item> 
                    <ion-label 
                      position="floating"
                      color="primary">
                      Country
                    </ion-label>
                      <ion-select [(ngModel)]="selectedCountry.id" (ionChange)="onSelect($event.target.value)" class="form-control"
                      formControlName="countries"
                      required>
                        <ion-select-option value="0"></ion-select-option>
                        <ion-select-option *ngFor="let item of countries" value={{item.id}}>{{item.name}} 
                        </ion-select-option>
                      </ion-select>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.countries">
                            <div class="error-message" *ngIf="registerForm.get('countries')&& (registerForm.get('countries').dirty || registerForm.get('countries').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>
                      </ion-item>
                      <ion-item>
                          <ion-label 
                          position="floating"
                          color="primary">
                            State/Province
                          </ion-label>
                          <ion-select
                          class="form-control"
                          formControlName="province"
                          required>
                            <ion-select-option *ngIf= 'selectedCountry.id === 0' value="0"></ion-select-option>
                            <ion-select-option *ngFor= "let item of states" value={{item.id}}>{{item.name}}
                            </ion-select-option>
                          </ion-select>
                          <div class="validation-errors">
                              <ng-container *ngFor="let validation of validation_messages.province">
                                <div class="error-message" *ngIf="registerForm.get('province')&& (registerForm.get('province').dirty || registerForm.get('province').touched)">
                                  {{ validation.message }}
                                </div>
                              </ng-container>
                            </div>
                      </ion-item>   -->
             
  <!-- </form> -->
</ion-content>
